.page {
    position: relative;
    height: 100%;
    flex-grow: 1;
    transition: all .12 ease;
    display: flex;
}

main {
    display: flex;
    flex-direction: column;

}

main>article {
    flex: 1;
}

.sidebar {
    /* background-color: var(--bs-indigo); */
    /* min-width: var(--nav-width, auto); */
    transition: min-width .12s ease;
    border-right: 1px solid rgba(var(--bs-light-rgb), .035);
}